section#sobre {
    padding-inline: 150px;
    padding-block: 50px;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.5) );
    position: relative;
}
section#sobre > video {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

@media (max-width: 1080px) {
    section#sobre {
        padding-inline: 50px;
    }
}