section#inicio {
    min-height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.5) ), url("/assets/images/glass-door.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section#inicio > img#arrow {
    position: absolute;
    left: 50vw;
    bottom: 70px;
    width: 40px;
    height: 40px;
}