nav {
    position: fixed;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 50px;
    left: 50px;
    width: 55%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px) saturate(100%) contrast(45%) brightness(130%);
    border-radius: 57px;
    -webkit-backdrop-filter: blur(5px) saturate(100%) contrast(45%) brightness(130%);
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    z-index: 10;
    transition: 500ms;
}

@media (max-width: 1020px) {
    nav {
        bottom: 0px;
        left: 0px;
        width: 100%;
        border-radius: 0px;
        font-size: 10pt;
    }
}

nav > a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
    text-transform: uppercase;
    transition-duration: 300ms;
    text-align: center;
    color: #004bc4;
}


nav > a:hover, nav > a.current {
    color: #a80202;
}
