.products > div {
    display: flex;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 300px;
}
.product > img {
    border-radius: 50%;
    border: 1px solid var(--primary);
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}
.product > p {
    font-size: medium;
}

@media (max-width: 1080px) {
    .products {
        flex-direction: column;
    }
}



.products > .catalog-link {
    display: flex;
    align-content: center;
    align-items: center;
    float: right;
    font-size: 24px;
    position: sticky;
    top: 50px;
}
.products > .catalog-link > a {
    margin-right: 10px;
    color: #01155b;
    text-decoration: none;
}





